    <header>
        <h1>Página de inicio. Hola {{nombre}}</h1>
        <div class="enlaces">
            <a href="/">Home</a>
            <a href="/about">Acerca de nosotros</a>
        </div>
    </header>