{{> head}}
{{> encabezado}}
<section>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia provident delectus omnis animi nesciunt dolor, distinctio earum mollitia commodi consectetur quam maiores nulla corrupti iste, libero odit! Earum tempore ipsa perspiciatis quisquam id accusamus, alias voluptates, eum est omnis aut eos itaque reprehenderit amet odit!
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, cumque? Fuga iste, suscipit optio velit facilis amet obcaecati molestiae quae pariatur, quis architecto molestias quibusdam inventore, sequi vitae odio perferendis eum? Dolore tenetur optio doloribus fuga laborum illum perspiciatis dicta, amet obcaecati deserunt perferendis asperiores distinctio corporis. Praesentium voluptates consequuntur aperiam qui delectus placeat, impedit fuga iure numquam libero porro cum repellat veritatis rerum totam?
</section>
{{>footer}}