{{>head}}

<body>
    {{> encabezado}}
    <section>
        <h2>Encabezado de la sección</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto, deserunt expedita debitis perferendis ipsa sint quis. Impedit odit quos deleniti?</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit reprehenderit molestias exercitationem provident fugiat architecto repellendus temporibus, deserunt, possimus illum hic quibusdam praesentium sint delectus nostrum rerum aliquam. Nobis,
            ipsum!
        </p>
    </section>
    {{> footer}}
</body>

</html>